.card {
  cursor: pointer;
  height: 300px;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: rotate 500ms linear;
  width: 200px;
}

.card.show {
  rotate: y 180deg;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  border: 5px solid #000000;
  display: grid;
  inset: 0;
  padding: 0.5em;
  place-content: center;
  position: absolute;
}

.card-front {
  background-color: pink;
}

.card-back {
  background-color: aliceblue;
  rotate: y 180deg;
}
